.AddNewEvent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  padding: 0.5rem;
  grid-gap: 1rem;
  font-family: 'Montserrat';
  padding-top: 85px;
  margin-bottom: 50px;
}

.LabelAddNewEvent {
  display: block;
}

.LabelAddNewEvent input,
.LabelAddNewEvent textarea {
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .AddNewEvent {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-gap: 5px;
      /* padding: 0.5rem;
      outline: solid 1px orange; */
      font-family: 'Montserrat';
  }

  .form-item input, textarea{
    width: 100%;
    box-sizing: border-box;
  }
}

