.EventDetails{
    /* outline: solid 1px black; */
    width: 70%;
    margin: 2rem auto;
}
.EventDetails img {
  width: 100%;
  height: auto;
}

.EventDetails label{
  margin: 0.5rem;
}

.info-grid-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    outline: solid 1px slateblue;
}

.main-info {
  flex: 1;
  max-width: 50%;
  box-sizing: border-box;
}
.event-img {
  max-width: 50%;
  box-sizing: border-box;
}

  .buttons-row{
    display: flex;
    justify-content: space-around;
  }

  .edit-event-form {
    /* outline: solid 1px orange; */
    width: 80%;
    margin: 2rem auto;
  }
  
  .form-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-gap: 0.5rem; */
    padding: 0.5rem;
    outline: solid 1px orange;
  }
  
  .form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* outline: solid 1px rgb(105, 105, 112); */

    width: 100%;
    padding: 0.3 1rem;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
  }
  
  .form-item-2 textarea {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    box-sizing: border-box;
    resize: vertical;
  }
  
  .form-wrapper button {
    width: 100%;
    padding: 0.3rem 1rem;
    box-sizing: border-box;
  
  }
  
  .form-wrapper button:focus {
    background-color: rgba(163, 228, 215, 0.1);
    border-radius: 0.1rem;
  }
  