.EventDetails{
    /* outline: solid 1px black; */
    width: 70%;
    margin: 2rem auto;
    padding-top: 85px;
    margin-bottom: 50px;
}
.EventDetails img {
  width: 100%;
  height: auto;
}

.EventDetails label{
  margin: 0.5rem;
}

.info-grid-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    /* outline: solid 1px slateblue; */
    background-color: #DDA6B9;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.main-info {
  flex: 1;
  max-width: 50%;
  box-sizing: border-box;
}
.event-img {
  max-width: 50%;
  box-sizing: border-box;
  border-radius: 2rem;
}

  .buttons-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .edit-event-form {
    /* outline: solid 1px orange; */
    width: 80%;
    margin: 2rem auto;
    background-color: #E2BAB1;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-gap: 0.5rem; */
    padding: 0.5rem;
    /* outline: solid 1px orange; */
    font-family: 'Montserrat';
  }
  
  .form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* outline: solid 1px rgb(105, 105, 112); */

    width: 100%;
    padding: 0.3 1rem;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
  }
  
  .form-item-2 textarea {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    box-sizing: border-box;
    resize: vertical;
  }
  
  .form-wrapper button {
    width: 100%;
    padding: 0.3rem 1rem;
    box-sizing: border-box;
  
  }
  
  .form-wrapper button:focus {
    background-color: rgba(163, 228, 215, 0.1);
    border-radius: 0.1rem;
  }

  .EventDetails h3 {
    font-family: 'Montserrat';
  }

  .buttons-row p {
    font-family: 'Montserrat';
    
  }
  
  @media (max-width: 768px) {
    .info-grid-container {
      overflow: hidden;
      
    }

    .info-grid-container h1 {
      font-size: 2em;
    } 
    
    .form-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 5px;
        /* padding: 0.5rem;
        outline: solid 1px orange; */
        font-family: 'Montserrat';
    }

    .form-item input, textarea{
      width: 100%;
      box-sizing: border-box;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .form-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 5px;
        font-family: 'Montserrat';
    }

    .form-item {
      display: flex;
      flex-direction: column;
    }

    .form-item input, textarea {
      width: 100%;
      box-sizing: border-box;
    
    }
  }

  @media (min-width: 1025px) {
    .form-wrapper {
        display: grid;
        grid-template-columns: repeat (4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5px;
        font-family: 'Montserrat';
    }

    .form-item input, textarea{
      width: 100%;
      box-sizing: border-box;
    }
  }