.UserPage {
  padding-top: 85px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users {
  background-color: #dda6b9;
  width: 30rem;
  height: 5rem;
  border-radius: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  color: white;
}

.UserPage label {
  font-family: "Montserrat";
}

.user-name {
  flex-grow: 2;
}

.sort-search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 768px) {
  .users,
  .sort-search {
    width: 25rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .users,
  .sort-search {
    width: 35rem;
  }
}

@media (min-width: 1024px) {
  .users,
  .sort-search {
    width: 40rem;
  }
}
