footer {
    /* background-color: rgb(163, 228, 215); */
    width: 100vw;
    text-align: left;
    font-size: 14px;
    padding: 10px;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Montserrat';
    padding: 0;

 }

footer h3{
    color: white;
}
