.Header {
    background-color: rgb(163, 228, 215);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100vw;
    position: relative;
    
}

.Header p {
    color: white;
    font-size: large;
}

xs