.Header {
    background-color: rgb(172, 174, 197);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100vw;
    position: relative;
    opacity: 1;
    font-family: 'Montserrat';
    height: 56.5px;
    position: fixed;
    opacity: 1;
}

.Header p {
    color: white;
    font-size: large;
}